

Link{
    text-decoration: none;
}
.main-header {
    padding-top: 60px;
    min-width: 350px;
    background-color: #2E2E38;
    height: 100vh;
    &__content{
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__logo{
        color: #A6DFB7;
        font-size: 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    &__user{
        display: flex;
        // justify-content: center;
        color: #E5E5E5;
        margin-bottom: 4rem;
        .user-img{
            background-color: red;
            width: 62px;
            height: 62px;
            border-radius: 50%;
            margin-right: 0.7rem;
        }
        .user-name{
            font-size: 1.2rem;
        }
    }
    &__nav{
        .main-header__routes{
            list-style: none;
            padding-left: unset;
            .link{
                text-decoration: none;
                color: #E5E5E5;
                text-transform: uppercase;
                font-size: 1.7rem;
                margin-bottom: 1rem;
            }
            li{
                margin-bottom: 2.6rem;
                width: 100%;
                &:hover{
                    color: #A6DFB7;
                    text-decoration: underline;
                }
            }
        }
    }
}